checkpoints/
tmp/
__pycache__/
TODO.txt
notes_on_loss.txt
siren/testing.ipynb
siren/.ipynb_checkpoints
discriminators/testing.ipynb
discriminators/.ipynb_checkpoints
generators/testing.ipynb
generators/.ipynb_checkpoints